<div class="avatar-container">
    <div class="avatar-pic-container">
        <img src="../../assets/profile.jpg" alt="profile" class="avatar" />
        <div class="overlay">
          <i data-feather="settings"></i>
        </div>
      </div>
    <div class="avatar-details-container">
      <div class="name-container">
        <div class="name">Jatin Kathuria</div>
        <svg class="status" height="1" width="1">
            <title>online</title>
            <circle cx="5" cy="5" r="4" fill="green" />
          </svg>
      </div>
      <div class="details">Developer</div>

    </div>      
</div>



