@import '~@angular/material/theming';


@mixin main_screen($theme){

    $foreground : map-get($map: $theme, $key: foreground );
    $background : map-get($map: $theme, $key: background );


    .main-sidenav-container{
        .mat-sidenav{
            flex-basis: 0.2 0.2 1rem
        }
    }

    .mat-drawer{
        width: 300px;
    }
    
    
    .main-content   {
        .main-content-header    {
            height: 4rem;
            background-color: mat-color($background, 'card');
            border-bottom:1px solid mat-color($foreground, divider);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 2rem;
            font-size: 1rem;
            .main-content-header-home{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &:hover{
                    cursor: pointer;
                };
                .screen-title{
                    font-weight: bold;
                    padding: 3px;
                }
            }
        };
        .main-content-body{
            margin: 1rem;
            .detail-chart {
                padding: 1rem; //Somehow margin was on top was not wortking.. not sure why
            };
            .summary-chart{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                .summary-chart-individual{
                    margin: 1rem;
                    padding: 0px;
                }
            }

        }
    }
    
    
    .main-content-footer{
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        flex-wrap: wrap;
        .col{
            align-self: center;
        }
        .page-stats-outer{
            margin: 1rem;
            flex: 0.7;
            height: 100%
        };
        .social-traffic-outer{
            margin: 1rem;
            flex: 0.3;
            height: 100%
        }
    }
    .mat-sidenav-content {
        // background-color: rgb(245,245,245);
        display: flex;
        flex-direction: column;
    }
    
    
    .summary-chart {
      
    }

    

}


