<mat-drawer-container #mainScreen>
  <mat-drawer #drawer opened [mode]="sideNavMode" [opened]="openDrawer()" role="navigation" >
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <div class="main-content-header">
        <div class="main-content-header-home">
          <div *ngIf="sideNavMode === 'over'">
            <mat-icon aria-hidden="false" (click)="drawer.toggle()" aria-label="Example home icon">menu_open</mat-icon>
          </div>
         

        </div>
        <app-theme-toggle></app-theme-toggle>
        <app-select
          [items]="countryList"
          [withIcon]=true
          [width]="80"
          defaultId="US"
        ></app-select>
      </div>
      <div class="main-content-body">
          <div class="detail-chart">
              <app-chart-handler
                mode="full"
                name="Number of Visits"
                colorString="rgb(99,0,200)"
              >
              </app-chart-handler>
            </div>
        
            <div class="summary-chart">
              <app-chart-handler
                mode="compact"
                name="avg. daily users"
                colorString="rgb(200,50,50)"
              >
              </app-chart-handler>
              <app-chart-handler
                mode="compact"
                name="Total Visits"
                colorString="rgb(200,50,50)"
              >
              </app-chart-handler>
              <app-chart-handler
                mode="compact"
                name="Bounce Rate"
                colorString="rgb(200,50,50)"
              >
              </app-chart-handler>
              <app-chart-handler
                mode="compact"
                name="Avg. visit duration"
                colorString="rgb(200,50,50)"
              >
              </app-chart-handler>
              <app-chart-handler
                mode="compact"
                name="Unique Visitors"
                colorString="rgb(200,50,50)"
              >
              </app-chart-handler>
            </div>
            <div class="main-content-footer">
              <div class="col"> <app-page-stats></app-page-stats></div>
              <div class="col"><app-social-traffic></app-social-traffic></div>
              <div class="col"> <app-social-traffic></app-social-traffic> </div>
              
              
            </div>

      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
