// $font-size: 7px;
//  $selectWidth: 50px;

@import "~@angular/material/theming";

@mixin select($theme) {
  // .select-container   {
  //     width: 50px ;
  // }

$arrow_img:  './assets/icons/up-down.png';
  $foreground: map-get($map: $theme, $key: foreground);

.mat-form-field {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0px 5px;
    .mat-form-field-wrapper{
      padding: 0px;
      border: 0px solid black;
      border-radius: 3px;
      box-shadow: 0.1px 0.1px 2px 1px mat-color($foreground, divider );
      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 0px !important;
          margin: 8px 8px 8px 10px;
          border: 0px !important;
          .mat-select {
            .mat-select-value{
              .mat-select-value-text{
                
              }
            }
            .mat-select-arrow-wrapper{
              .mat-select-arrow {
                border-left: 15px solid transparent !important;
                border-right: none !important;
                border-top: 15px solid transparent !important;
                border-image-source:  url($arrow_img) !important;
                border-image-repeat: stretch !important;
                margin: 0px

              }
            }
          }
          .mat-form-field-label-wrapper{

          }
        }
      }
    }
  }

  // ::ng-deep .mat-form-field {
  //   font-size: 1rem;
  //   font-weight: 400;
  //   width: 80px;
  //   .mat-form-field-wrapper {
  //     padding: 0px;
  //     .mat-form-field-flex {
  //       padding: 0px;
  //       .mat-form-field-infix {
  //         box-shadow: 0px 0px 1.5px 0.1px rgba(100, 100, 100, 1);
  //         border-radius: 2px;
  //         padding: 0rem;

  //         border: transparent;
  //         height: 1rem;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         .mat-select {
  //           .mat-select-placeholder {
  //             width: fit-content;
  //           }
  //           .mat-select-trigger {
  //             .mat-select-value {
  //               padding-left: 5px;
  //               width: fit-content;
  //             }
  //             .mat-select-arrow-wrapper {
  //               .mat-select-arrow {
  //                 border-left: 2px solid transparent;
  //                 border-right: 2px solid transparent;
  //                 border-top: 2px solid;
  //                 margin: 0 4px;
  //                 font-size: 1rem;
                  
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  // ::ng-deep .mat-select-arrow{
  //   color: mat-color($foreground, icon);
  // }

  // ::ng-deep .mat-option   {
  //   .mat-option-text    {
  //       font-size: 1em !important;
  //   }
  // }
}
