
<div *ngIf="mode === 'full'" class="chart-handler-full">
        <div class="chart-full-header">
          <div class="chart-full-header-title">
            {{name}}
          </div>
          <div class="chart-full-header-filter">
            <div class="chart-filter">
              <app-select
                [items]="seletableMonths"
                [withIcon]=false
                [width]="70"
                defaultId="DEC"
                (selectionChanged)="monthChanged($event)"
                
              >           
              </app-select>  
            </div>
            <div class="chart-filter">
              <app-select
              [items]="selectableYears"
              [withIcon]=false
              [width]="70"
              [defaultId]="2017"
              (selectionChanged)="yearChanged($event)"
            >
            </app-select>  
        </div>
          </div>
        </div>
        <span layout="row"><mat-divider></mat-divider></span>


        <app-chart
          [name]="name"
          [type]="type"
          [datasetOptions]="datasetOptions"
          [chartOptions]="chartOptions"
          width="auto"
          height="250"
          [data]="data"
        >
      
        </app-chart>
</div>

<div *ngIf="mode === 'compact'" class="chart-handler-compact">
  <div class="chart-title">
    {{name}}
  </div>
  <div class="chart-summary">
      {{getSummaryData()}}
  </div>
  
  <div class="chart-trends">
      
    
    <span class="trend-down" *ngIf="getChartTrend().trend < 0">
        {{getChartTrend().trendExpression}}
        <!-- <i class="trend-sign" data-feather="corner-right-down" color="red"></i> -->
        <img class="trend-sign" src="./assets/icons/trend_down.png" />
    </span>
    <span class="trend-up" *ngIf="getChartTrend().trend > 0">
        {{getChartTrend().trendExpression}}     
        <!-- <i data-feather="corner-right-up" color="green"></i> -->
        <img class="trend-sign" src="./assets/icons/trend_up.png" />
      </span>
  </div>
  <app-chart
      [name]="name"
      [type]="type"
      [datasetOptions]="datasetOptions"
      [chartOptions]="chartOptions"
      width="230"
      height="75"
      [data]="data"
    >
    </app-chart>
 </div>

<div *ngIf="mode === 'slim'"  class="chat-handler slim">
    <app-chart
    [name]="name"
    [type]="type"
    [datasetOptions]="datasetOptions"
    [chartOptions]="chartOptions"
    width="50"
    height="6"
    [data]="data"
  >
  </app-chart>
</div>





