@import "~@angular/material/theming";

@mixin social-traffic($theme) {

  $background: map-get($map: $theme, $key: background);
  $foreground: map-get($map: $theme, $key: foreground);




  table {
    width: 100%;
    box-shadow: 0.2px 0.2px 2px 1px rgba(0, 0, 0, 0.2) !important;
    margin: 0.3rem 0px !important;
  }

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 1rem !important;
    text-align: center;
  }

  th.mat-header-cell  {
    text-transform: uppercase;
    color: mat-color($foreground, text);
  }

  .caps {
    text-transform: uppercase;
    text-align: center;
    
  }
}
