@import "~@angular/material/theming";

@mixin social-traffic($theme) {

  $background: map-get($map: $theme, $key: background);
  $foreground: map-get($map: $theme, $key: foreground);


  .social-traffic-container{
    background-color: mat-color($background, card);
    box-shadow: 0.2px 0.2px 2px 1px rgba(0, 0, 0, 0.2);
    .social-traffic-title{
      padding: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }



  table {
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
    margin: 0.3rem 0px !important;
    height: 100%;
  }

  // td.mat-cell,
  // td.mat-footer-cell,
  // th.mat-header-cell {
  //   padding: 1rem !important;
  //   text-align: center;
    
  // }



  th.mat-header-cell  {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: mat-color($foreground, icon);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .caps {
    text-transform: capitalize;
    // text-align: center;
    
  }

  .big-2 {
    min-width: 80px !important;
  }
}
