<mat-accordion class="menu-accordion">
  <mat-expansion-panel hideToggle
    (opened)="whenOpened()"
    (closed)="whenClosed()"
    [expanded]="isExpanded"
    
  >
    <mat-expansion-panel-header
     
    >
      <div class="menuicon">
        <div class="special-menu" *ngIf="menu.header === 'Inbox'">
           <img class="special-icon" [src]="getIcon('up-down')" />
        </div>
        <div *ngIf="menu.header === 'Dashboard'">
            <mat-icon class="left-menu-icon">{{ menu.icon }}</mat-icon>
        </div>
        
      </div>
      
      <mat-panel-title  >
        <div [class]="isExpanded ? 'selected' : 'heading'" >
            <!-- <i [attr.data-feather]="getIcon(menu.logo)" class="icon"></i> -->
            <img [attr.src]="getIcon(menu.logo)" class="icon" />
            {{ menu.header }}
        </div>

      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let item of menu.items; let idx = index">
        <div [class]="idx === menu.selected ? 'selected' : null" >
            {{ item }}
        </div>
        
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>


<!-- [@.disabled]="true"
expandedHeight="25px"
collapsedHeight="25px" -->