@import "~@angular/material/theming";

@mixin menu-item($theme) {

$background : map-get($map: $theme, $key: background );
$foreground : map-get($map: $theme, $key: foreground );


  mat-expansion-panel {
    box-shadow: none !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    
  }

  .mat-expansion-panel-header {
    box-shadow: none;
    // font-size: 1rem;
    font-weight: bold;
    color: mat-color($foreground, lighter);
    padding: 0px !important;
  }

  .mat-icon {
    // font-size: 1rem !important;
    // width: 1rem !important;
    // height: 1rem !important;
    display: inline-flex;
    vertical-align: middle !important;
    // margin: 10px !important;
  }

  .mat-expansion-panel-header-title {
    padding: 0px !important;
    color: mat-color($foreground, A100) !important; 
    margin: 0px !important;
    justify-content: flex-start;
    align-items: center;
  }

  .mat-expansion-panel-body {
    padding: 0px !important;
    margin: 0px;
  }

  .mat-list {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.5rem;
    .mat-list-item {
      padding: 0px !important;
      height: auto !important;
      display: flex !important;
      justify-content: flex-start;
      align-items: center;
      font-weight: medium;
      .mat-list-item-content {
        padding: 0.5rem !important;
        margin: 0px;
        height: auto;
      }
    }
  }

  .mat-expanded {
    box-shadow: none;
    margin: 0px !important;
    padding-top: 0px !important;
  }

  svg {
    width: 1rem;
    height: 1rem;
    color: mat-color($foreground, icon);
    padding: 5px;
  }
}



