body{
    font-size: small;
}

* {
    border: 0px solid black;
}

.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-bar {
    height: 40px;
    display:flex;
    flex-direction: row;
    border-bottom: 0.4px solid rgba(150,150,150, 0.5);

    .home   {
        flex: .15;
        border-right: 1px solid rgba(150,150,150, 0.5);
    }
    .main-header    {
        flex: .85
    }
}

.main-body {
    display: flex;
    flex-direction: row;
}

.main-body-left-menu {
    height: 100%;
    flex: 0.2
}

.main-body-right     {
    flex: 0.8;
    width: auto
}