@import '~@angular/material/theming';

@mixin app($theme){

$background:  map-get($map: $theme, $key: background); 
$foreground:  map-get($map: $theme, $key: foreground); 




body{
    // // font-size: small;
    // // padding: 0px 7rem;
    // background-color: mat-color($background, background);
    // border: 1px solid black;
    // box-shadow: 1px 1px 2px 1px black;
    
    background: mat-color($background, background);
   
}

* {
    border: 0px solid black;
}

.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 1px solid mat-color($foreground, divider);
    border-right: 1px solid mat-color($foreground, divider);

    margin: 0px 160px;
}

.header-bar {
    height: 40px;
    display:flex;
    flex-direction: row;
    border-bottom: 0.4px solid rgba(150,150,150, 0.5);

    .home   {
        flex: .15;
        border-right: 1px solid rgba(150,150,150, 0.5);
    }
    .main-header    {
        flex: .85
    }
}

.main-body {
    display: flex;
    flex-direction: row;
}

.main-body-left-menu {
    height: 100%;
    flex: 0.2
}

.main-body-right     {
    flex: 0.8;
    width: auto
}
}


