<!--The content below is only a placeholder and can be replaced.-->

<div class="page-container theme">
  <div class="header-bar">Header
  <button 
    mat-raised-button color="primary"
    (click)="randomizeDa">
    Randomize
  </button>
  </div>

  <app-main-screen></app-main-screen>

  <!-- <div class="main-body">
    <div class="main-body-left-menu">
        Left Menu
    </div>
    <div class="class main-body-right">
      Right body
      <app-chart></app-chart>
    </div>
  </div> -->


</div>

<router-outlet></router-outlet>
