<!--The content below is only a placeholder and can be replaced.-->

<div [ngClass]="{'dark-theme': isDarkTheme | async }" #app>
<div class="mat-app-background page-container theme">
  <!-- <div class="header-bar">
    <div class="home">asdasd</div>
    <div class="main-heading">asda</div>
  </div> -->

  <app-main-screen></app-main-screen>

  <!-- <div class="main-body">
    <div class="main-body-left-menu">
        Left Menu
    </div>
    <div class="class main-body-right">
      Right body
      <app-chart></app-chart>
    </div>
  </div> -->


</div>
</div>
<router-outlet></router-outlet>
